<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="Shortcut Icon" type="image/x-icon"
        href="http://careerchina-material.oss-us-west-1.aliyuncs.com/img/bfd7f24f-c718-4fba-8993-7fabc3a4f98c.ico">
  <link rel="stylesheet" href="./reset.min.css">
  <link rel="stylesheet" href="./schoolDetail.css">
  <title>Title</title>
</head>
<body>
  <div class="school-detail">
    <!--一级导航-->
    <div class="navBox1" id="index">
      <!--<h2>Career&nbspChina</h2>-->
      <div class="logoBox">
        <a href="http://www.careerchina.com" class="ccLogo1"
           title="teaching jobs in china,english teaching jobs in china">
        </a>
        <i class="line1"></i>
        <a href="http://www.100tal.com/" class="talLogo1" target="_blank"></a>
      </div>
      <ul class="tal clear">
        <li class="list1">
          <a href="/" id="home" name="Working in China">HOME</a>
        </li>
        <li class="list1">
          <a href="/jobs-in-China" id="JOB" name="Jobs in China" ref="jobs" class="active">OPPORTUNITIES</a>
        </li>
        <li class="list1">
          <a href="/how-to-move-to-China" ref="ser" name="how to move to china">SERVICES</a>
        </li>
        <li class="list1">
          <a href="/life-in-China-blog" ref="bl" name="life in China">BLOG</a>
        </li>
        <li class="list1">
          <a href="/about-career-China" id="us" name="about us">ABOUT US</a>
        </li>
      </ul>
      <div class="navRight1">
        <a href="javascript:;">EMPLOYER ACCESS</a>
        <b>/</b>
        <a href="javascript:;" class="log">LOG IN</a>
        <a href="javascript:;" class="sign meet">SIGN UP</a>
      </div>
      <div class="slideshow" id="slide">
        <button class="cd-nav-trigger1">
          <span aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <!--二级导航-->
    <div class="seNav">
      <ul class="seNavTab clear">
        <li class="seNavList">
          <a href="/jobs-in-China">JOBS</a>
        </li>
        <li class="seNavList">
          <a href="/companies">COMPANIES</a>
          <i class="bor-bot"></i>
        </li>
      </ul>
    </div>
    <!--手机端一级导航-->
    <div class="ipadNav">
      <div class="ulBox">
        <ul class="navTab">
          <li class="navList">
            <a href="/">HOME</a>
          </li>
          <li class="navList">
            <a href="/jobs-in-China" class="active">OPPORTUNITIES</a>
          </li>
          <li class="navList">
            <a href="/how-to-move-to-China">SERVICES</a>
          </li>
          <li class="navList">
            <a href="/life-in-China-blog">BLOG</a>
          </li>
          <li class="navList">
            <a href="/about-career-China">ABOUT US</a>
          </li>
          <li class="line"></li>
          <li class="navList">
            <a href="javascript:;">EMPLOYER ACCESS</a>
          </li>
        </ul>
        <div class="nav-open">
          <button class="cd-nav-trigger1">
            <span aria-hidden="true"></span>
          </button>
        </div>
      </div>

    </div>
    <!--TOP content-->
    <div class="top-content">
      <div class="auto clear">
        <div class="ipad">
          <div class="logo-img">
            <img src="" alt="">
          </div>
          <div class="title-des">
            <div class="title-box">
              <h2 class="school-title">William and Mary International Academy<i class="link-icon"></i></h2>
            </div>
            <p class="school-des">
              William and Mary International Academy is associated with the esteemed Capital Normal University.William and Mary International Academy is associated with the esteemed Capital Normal.
            </p>
            <ul class="detail-tal clear">
              <li class="detail-list">
                <span class="number">2009</span>
                <span class="tag">ESTABLISHED</span>
              </li>
              <li class="detail-list">
                <span class="number">2009</span>
                <span class="tag">COMPANY SIZE</span>
              </li>
              <li class="detail-list">
                <span class="number">2009</span>
                <span class="tag">OPEN POSITIONS</span>
              </li>
            </ul>
          </div>
        </div>
        <p class="m-school-des">
          William and Mary International Academy is associated with the esteemed Capital Normal University.William and Mary International Academy is associated with the esteemed Capital Normal.
        </p>
        <ul class="ipad-detail-tal clear">
          <li class="ipad-detail-list">
            <span class="number">2009</span>
            <span class="tag">ESTABLISHED</span>
          </li>
          <li class="ipad-detail-list">
            <span class="number">2009</span>
            <span class="tag">COMPANY SIZE</span>
          </li>
          <li class="ipad-detail-list">
            <span class="number">2009</span>
            <span class="tag">OPEN POSITIONS</span>
          </li>
        </ul>
      </div>
    </div>
    <!--tab-->
    <div class="tab-bg">
      <ul class="cont-tab clear" id="cont-tab">
        <li class="cont-list show">
          <a href="javascript:;" class="btn-con">PROFILE</a>
          <span class="jiao"></span>
        </li>
        <li class="cont-list">
          <a href="javascript:;" class="btn-con">POSITIONS</a>
          <span class="jiao"></span>
        </li>
      </ul>
    </div>
    <div class="profile tab-content clear con-show">
      <div class="con-left">
        <div class="video-box">
          <video id="myVideo" src="http://careerchina-material.oss-us-west-1.aliyuncs.com/video/6c0db396-c9be-4841-8582-98a5c64c58c2.mp4" controls width="100%" height="100%"></video>
          <i class="play-icon"></i>
        </div>
        <div class="content-data">
          <h6>INTRODUCTION</h6>
          <i class="line"></i>
          <div class="text-box">
            <p class="text">
              First Leap English, a business unit of TAL Education Group (NYSE, TAL), established in Beijing in 2009, is flourishing and expanding across China, with over 30, 000 students, and top 3 brand recognition in the Chinese education industry. Created to provide much-needed quality afterschool English training for children aged 1.5 – 15 years old, in a fun, motivating and entirely English speaking environment.
              <br/> <br/> <br/>
              First Leap provides children with high quality and full scene English education. The school has developing and innovating internationally leading educational products and services since 2008. Which committed to providing scientific parenting solutions for Chinese families. Teaching English is not only purpose, but also encourage and cultivate children’s self-confidence, happiness, and comprehensive quality leadership, with a new generation of global competitiveness.
              <br/> <br/> <br/>
              First Leap has opened more than 80 teaching centers in more than 30 cities in China. The full curriculum system is based on the CLIL education concept, the high-tech education method, which developed and innovated by domestic and foreign experts. The curriculum covers young children stage, pre-school stage, primary and junior high school stage, which help children get through overseas high school.
            </p>
          </div>
        </div>
        <div class="blog-list-box">
          <h6>ARTICLES</h6>
          <i class="line"></i>
          <ul class="blog-tab">
            <li class="blog-list">
              <img src="" alt="">
              <div class="list-right">
                <h3>How To Get Around China With Public </h3>
                <p class="list-right-des">
                  Life’s an adventure.  And young professionals today deserve to have career opportunities, with the chance to earn a go
                </p>
              </div>
            </li>
            <li class="blog-list">
              <img src="" alt="">
              <div class="list-right">
                <h3>Start a New Adventure - Find a Job in China lalalala</h3>
                <p class="list-right-des">
                  Life’s an adventure.  And young professionals today deserve to have career opportunities, with the chance to earn a go
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="con-right">
        <div class="right-top">
          <h6 class="webH6">WE'RE HIRING</h6>
          <i class="line webLine"></i>
          <p class="right-top-des">
            We are looking for foreigners working in China, our company staff are very friendly, great benefits, if you are interested in our company, you can click to view the posts.
          </p>
          <a href="javascript:;" class="view-posi">
            View Positions
            <span class="top-border"></span>
            <span class="right-border"></span>
            <span class="bottom-border"></span>
            <span class="left-border"></span>
          </a>
        </div>
        <ol>
          <li class="img-list">
            <img src="" alt="">
          </li>
          <li class="img-list">
            <img src="" alt="">
          </li>
          <li class="img-list">
            <img src="" alt="">
          </li>
        </ol>
      </div>
      <div class="m-blog-box">
        <h6>ARTICLES</h6>
        <i class="line"></i>
        <ul class="m-blog-tab">
          <li class="m-blog-list">
            <img src="" alt="">
            <div class="m-blog-title">
              <h3>How To Get Around China With Public </h3>
            </div>
          </li>
          <li class="m-blog-list">
            <img src="" alt="">
            <div class="m-blog-title">
              <h3>Start a New Adventure - Find a Job in China lalalala</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="position tab-content">
      <ul class="jobs-tab">
        <li class="jobs-list">
          <div class="title_date clear">
            <h3>
              <a href="javascript:;" class="list-title">ABIE Kindergarten Teacher</a>
            </h3>
            <i class="hot-icon" v-if="jobList.hot==='999'?false:true"></i>
            <span class="name_date">Posted On 2016/10/18</span>
          </div>
          <div class="line"></div>
          <div class="category">
            <span class="cate-name">
              Category:
            </span>
            <p class="cate-des">
              Teaching Certification and/or Education Degree Required
            </p>
          </div>
          <div class="sub-grade clear">
            <div class="sub">
              <span class="sub-name">Subject:</span>
              <p class="sub-des">
                English as a Second Language(ESL)  ,  English Language Ar
              </p>
            </div>
            <div class="grade">
              <span class="grade-name">
                Grade:
              </span>
              <p class="grade-des">
                Kindergarten&Pre-school  ,  Primary/Elementary  ,  Primary&Mi
              </p>
            </div>
          </div>
          <p class="m-date">
            Posted On 2016/10/18
          </p>
        </li>
        <li class="jobs-list">
          <div class="title_date clear">
            <h3>
              <a href="javascript:;" class="list-title">ABIE Kindergarten Teacher</a>
            </h3>
            <i class="hot-icon" v-if="jobList.hot==='999'?false:true"></i>
            <span class="name_date">Posted On 2016/10/18</span>
          </div>
          <div class="line"></div>
          <div class="category">
            <span class="cate-name">
              Category:
            </span>
            <p class="cate-des">
              Teaching Certification and/or Education Degree Required
            </p>
          </div>
          <div class="sub-grade clear">
            <div class="sub">
              <span class="sub-name">Subject:</span>
              <p class="sub-des">
                English as a Second Language(ESL)  ,  English Language Ar
              </p>
            </div>
            <div class="grade">
              <span class="grade-name">
                Grade:
              </span>
              <p class="grade-des">
                Kindergarten&Pre-school  ,  Primary/Elementary  ,  Primary&Mi
              </p>
            </div>
          </div>
          <p class="m-date">
            Posted On 2016/10/18
          </p>
        </li>
        <li class="jobs-list">
          <div class="title_date clear">
            <h3>
              <a href="javascript:;" class="list-title">ABIE Kindergarten Teacher</a>
            </h3>
            <i class="hot-icon" v-if="jobList.hot==='999'?false:true"></i>
            <span class="name_date">Posted On 2016/10/18</span>
          </div>
          <div class="line"></div>
          <div class="category">
            <span class="cate-name">
              Category:
            </span>
            <p class="cate-des">
              Teaching Certification and/or Education Degree Required
            </p>
          </div>
          <div class="sub-grade clear">
            <div class="sub">
              <span class="sub-name">Subject:</span>
              <p class="sub-des">
                English as a Second Language(ESL)  ,  English Language Ar
              </p>
            </div>
            <div class="grade">
              <span class="grade-name">
                Grade:
              </span>
              <p class="grade-des">
                Kindergarten&Pre-school  ,  Primary/Elementary  ,  Primary&Mi
              </p>
            </div>
          </div>
          <p class="m-date">
            Posted On 2016/10/18
          </p>
        </li>
        <li class="jobs-list">
          <div class="title_date clear">
            <h3>
              <a href="javascript:;" class="list-title">ABIE Kindergarten Teacher</a>
            </h3>
            <i class="hot-icon" v-if="jobList.hot==='999'?false:true"></i>
            <span class="name_date">Posted On 2016/10/18</span>
          </div>
          <div class="line"></div>
          <div class="category">
            <span class="cate-name">
              Category:
            </span>
            <p class="cate-des">
              Teaching Certification and/or Education Degree Required
            </p>
          </div>
          <div class="sub-grade clear">
            <div class="sub">
              <span class="sub-name">Subject:</span>
              <p class="sub-des">
                English as a Second Language(ESL)  ,  English Language Ar
              </p>
            </div>
            <div class="grade">
              <span class="grade-name">
                Grade:
              </span>
              <p class="grade-des">
                Kindergarten&Pre-school  ,  Primary/Elementary  ,  Primary&Mi
              </p>
            </div>
          </div>
          <p class="m-date">
            Posted On 2016/10/18
          </p>
        </li>
      </ul>
    </div>
    <!--go-top-->
    <div class="goTop" id="goTop">
      <i class="normal" id="normal"></i>
    </div>
    <!--footer-->
    <div class="footer">
      <div class="site">
        <div class="siteMain">
          <ul class="siteTab clear">
            <li class="siteList">
              <h3 class="navName">PROGRAMS</h3>
              <a href="jobs-in-china.html" title="Jobs in China">Featured Jobs</a>
              <a href="company/First-Leap-China.html" title="First Leap China">First Leap China</a>
              <a href="company/Meten-Education-Group.html" title="Meten">Meten</a>
              <a href="company/Kids-R-Kids.html" title="Kids R Kids">Kids R Kids</a>
              <a href="company/RDFZ-Xishan-School.html" title="RDFZ Xinshan School">RDFZ Xinshan School</a>
              <a href="company/Beijing-SMIC-Private-School.html" title="Beijing SMIC School">Beijing SMIC School</a>
            </li>
            <li class="siteList">
              <h3 class="navName">SERVICES</h3>
              <a href="job-placement-china.html" title="job placement China">Career Advice</a>
              <a href="china-work-visa.html" title="china work visa">Work Visa</a>
              <a href="moving-to-china.html" title="moving to china">Ground Service</a>
              <!--<a href="javascript:;">Why Choose Career China</a>-->
              <a href="moving-to-china.html#quesTitle" @click="href2" title="moving to china">FAQS</a>
            </li>
            <li class="siteList">
              <h3 class="navName">LATEST ARTICLES</h3>
              <a href="live-in-china.html" title="live in China">Live</a>
              <a href="travel-in-china.html" title="travel in China">Travel</a>
              <a href="work-in-china.html" title="work in China">Work</a>
              <a href="guides.html" title="city guides in China">Guides</a>
              <a href="on-boarding.html" title="On-boarding">On-boarding</a>
              <a href="life-in-china-blog.html" target="_blank" title="life in China">View More Posts</a>
            </li>
            <li class="siteList">
              <h3 class="navName">ABOUT</h3>
              <a href="about-career-china.html" title="career china">About Us</a>
              <a href="about-career-china.html#doing" title="career china team">Team</a>
              <a href="http://business.careerchina.com" target="_blank">For Chinese Companies</a>
            </li>
            <li class="siteList" style="margin-right:0">
              <h3 class="navName">CONTACT US</h3>
              <a href="about-career-china.html" title="career china">TEL : +86 400-669-7618</a>
              <a href="about-career-china.html#doing" title="career china team">ADDRESS : Linda Plaza B-5C, Dongtucheng Road,</a>
              <a href="http://business.careerchina.com" target="_blank">For Chinese Companies</a>
              <a href="http://business.careerchina.com" target="_blank">Chaoyang District, Beijing, China</a>
            </li>
          </ul>
          <ul class="icTab clear">
            <li class="icList" title="FACEBOOK">
              <a href="https://www.facebook.com/CareerChinaJobs/" class="face" target="_blank"></a>
            </li>
            <li class="icList" title="TWITTER">
              <a href="https://twitter.com/Career_China" class="bird" target="_blank"></a>
            </li>
            <li class="icList" title="LINKEDLN">
              <a href="https://www.linkedin.com/company-beta/17913665/" class="in" target="_blank"></a>
            </li>
            <li class="icList" title="INSTAGRAM">
              <a href="https://www.instagram.com/careerchina/" class="camera" target="_blank"></a>
            </li>
            <li class="icList" title="GOOGLE">
              <a href="https://plus.google.com/u/0/116387979022769777244" class="google" target="_blank"></a>
            </li>
            <li class="icList" title="YOUTUBE">
              <a href="https://www.youtube.com/channel/UCFA7l6MzmjNtVQAaZtReCeA" class="you" target="_blank"></a>
            </li>
            <li class="icList" title="PINTEREST">
              <a href="https://www.pinterest.com/careerchina/" class="pte" target="_blank"></a>
            </li>
          </ul>
        </div>
        <div class="siteMain1">
          <ul class="address">
            <li class="adList">
              <i class="phone-icon"></i>
              <a href="javascript:;">+86 400-669-7618</a>
            </li>
            <li class="adList">
              <i class="email-icon"></i>
              <a href="javascript:;">jobs@careerchina.com</a>
            </li>
            <li class="adList">
              <i class="location-icon"></i>
              <a href="javascript:;" class="lastT">
                Linda Plaza B-5C, Dongtucheng Road, Chaoyang District, Beijing, China
              </a>
            </li>
          </ul>
          <div class="linkTab">
            <a href="javascript:;" title="FACEBOOK"><i class="face"></i><span class="text">FACEBOOK</span></a>
            <a href="javascript:;" title="TWITTER"><i class="teitter"></i><span class="text">TWITTER</span></a>
            <a href="javascript:;" title="LINKEDLN"><i class="link"></i><span class="text">LINKEDLN</span></a>
            <a href="javascript:;" title="INSTAGRAM"><i class="inst"></i><span class="text">INSTAGRAM</span></a>
            <a href="javascript:;" title="GOOGLE"><i class="goo"></i><span class="text">GOOGLE</span></a>
            <a href="javascript:;" title="YOUTUBE"><i class="tub"></i><span class="text">YOUTUBE</span></a>
            <a href="javascript:;" title="PINTEREST"><i class="pint"></i><span class="text">PINTEREST</span></a>
          </div>
        </div>
        <div class="fooBot">
          <p class="copy">
            Copyright © 2017 Career China. All rights reserved.  京ICP备16068124号-1
          </p>
          <div class="footerLink">
            <a href="javascript:;">Term of Service</a>
            <i class="footerLine">|</i>
            <a href="javascript:;">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="jquery-1.4.2.min.js"></script>
<script>
  var addthis_share = {};
  var video=document.getElementById('myVideo');
    $('#cont-tab li').click(function () {
      $('#cont-tab li').eq($(this).index()).addClass("show").siblings().removeClass('show');
      $(".tab-content").hide().eq($(this).index()).show();
      $('#myVideo').trigger('pause');
      $('.play-icon').css('display','block')
    });

    $('.video-box').click(function () {
        if(video.paused){
          video.play()
        }else {
          video.pause()
        }
      $('.play-icon').css('display','none')
    });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92543012-1', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript">
  $('#slide').click(function () {
      this.className=this.className==='slideshow'?'nav-open':'slideshow';
    $('.ipadNav').fadeIn(500)
  });
  $('.nav-open').click(function () {
    $('#slide').removeClass('nav-open');
    $('#slide').addClass('slideshow');
    $('.ipadNav').fadeOut(500)
  });
/*回到顶部*/
  var oTop=document.getElementById('goTop');
  window.onscroll=computedDisplay;
  function computedDisplay() {
    var scrollT=document.body.scrollTop ||document.documentElement.scrollTop;
    var clientH=document.documentElement.clientHeight;
    if(scrollT>clientH){
      oTop.style.display='block'
    }else{
      oTop.style.display='none'
    }
  }
  oTop.onclick=function () {
    this.style.display='none';
    window.onscroll=null;
    var target=document.body.scrollTop;
    var duration=1000;
    var interval=10;
    var step=target/duration*interval;
    var timer=setInterval(function () {
      var curTop=document.body.scrollTop;
      if(curTop<=0){
        clearInterval(timer)
        window.onscroll=computedDisplay;
        return
      }
      curTop-=step;
      document.body.scrollTop=curTop;
    },interval)
  };
</script>
</html>
